<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>Url shortener</title>
  </head>
  <body>
    <main class="container w-50 mx-auto mt-5 d-flex flex-column">
      <h1 class="text-center">Stats</h1>
      <% const options = { weekday: 'long', year: 'numeric', month: 'long', day:
      'numeric'}; %>
      <p class="text-center">
        Url created at: <%= visitedtUrl.createdAt.toLocaleDateString(undefined,
        options) %> at <%= visitedtUrl.createdAt.getUTCHours() %>:<%=
        visitedtUrl.createdAt.getUTCMinutes()%> h
      </p>
      <p class="text-center">
        Last time visited: <%=
        visitedtUrl.updatedAt.toLocaleDateString(undefined, options) %> at <%=
        visitedtUrl.updatedAt.getUTCHours() %>:<%=
        visitedtUrl.updatedAt.getUTCMinutes()%> h
      </p>
      <p class="text-center">
        This link has been visited
        <strong><%= visitedtUrl.visitors %></strong> times
      </p>
    </main>
  </body>
</html>
